---
layout: default
title: {{ site.name }}
---

<div id="home">
<p>The formal verification of computer systems has become practical.
        It has an essential role in tech firms such as
        Amazon, AMD, Intel, Microsoft and Nvidia. In recent years, researchers have started asking whether
        verification technology could also benefit research mathematicians.
        Here, we explore every aspect of doing logic on the computer:
        its foundations, its applications and the issues involved with formalising mathematics.
</p>
{% include archive.html %}
<h1>Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>
</div>
