<h1>Archive</h1>
{%- capture temptags -%}
  {%- for tag in site.tags -%}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {%- endfor -%}
{%- endcapture %}
{%- assign sortedtemptags = temptags | replace: " ","_" | split:' ' | sort | uniq | reverse -%}
{%- for temptag in sortedtemptags %}
  {%- assign tagitems = temptag | split: '#' -%}
  {%- capture tagname %}{{ tagitems[1] }}{% endcapture -%}
  {%- if tagname.size > 0 -%}
    <a href="/tag/{{ tagname }}"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a>
  {%- endif -%}
{%- endfor -%}
